
<div *ngIf="subject">
    <h2><span>Subject</span> {{subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Wording</span></dt>
        <dd>
            <span>{{subject.wording}}</span>
        </dd>
        <dt><span>Abreviation</span></dt>
        <dd>
            <span>{{subject.abreviation}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{subject.active}}</span>
        </dd>
        <dt><span>Skills</span></dt>
        <dd>
            <span *ngFor="let skills of subject.skills; let last = last">
                <a [routerLink]="['/skill', skills?.id ]">{{skills.wording}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
