<div>
    <h2>
        <span>Classes</span>
        <button class="btn btn-primary float-right jh-create-entity create-classe" [routerLink]="['/', { outlets: { popup: ['classe-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Classe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="classes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="level"><span>Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wording"><span>Wording</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="active"><span>Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="year"><span>Year</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let classe of classes ;trackBy: trackId">
                <td><a [routerLink]="['../classe', classe.id ]">{{classe.id}}</a></td>
                <td>{{classe.level}}</td>
                <td>{{classe.wording}}</td>
                <td>{{classe.active}}</td>
                <td>{{classe.year}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../classe', classe.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'classe/'+ classe.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'classe/'+ classe.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
